{{>header titulo = 'Indi EC - Inicio'}}

<link rel="stylesheet" href="css/home.css">

<link rel="stylesheet" href="css/animaciones.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">

<body>
    <!-- boton de volver arriba-->
    
    <div class="body">
        <div class="slogan">
            <h1><img src="../img/notamusical.png" alt=""> iNDI EC </h1>
            <h2>Tu música en cualquier lugar</h2>
        </div>

        <div class="button">
            <button>
               <link rel="stylesheet" href=""> <strong><a href="/login"><i class="fa fa-user-circle site-nav--icon"></i>Iniciar Sesión</a></strong> 
            </button>
        </div>
    </div>




</body>




<script src="javascript/home.js"></script>
<script src="javascript/volverarriba.js"></script>
<script src="javascript/animaciones.js"></script>