{{>header titulo = 'INDIEC - Login'}}
<link rel="stylesheet" href="../css/login.css">

<body>


  <div class="page">
    <div class="container__login">

      <form class="form" action="/login" method="post">
        <div class="slogan">
            <h1><img src="../img/musica.png" alt=""> iNDI EC </h1>
        </div>
        <span class="pr">¿Todavia no tienes cuenta?</span>
        <a class="re" href="/registrar-usuario">Regístrate</a>

        <label for="email">Dirección de Email</label>
        <input id="email" type="email" name="email">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password">
        {{#if alert}}
        <h3>{{mensaje}}</h3>
        {{/if}}
        <input class="submit" type="submit" id="submit" value="Ingresar">
        <form>
          
    </div>

  </div>

</body>

<script src="/javascript/pantallacarga.js"></script>