body {
  background-image: linear-gradient(rgb(106, 6, 126), rgba(153, 24, 204, 0.788), rgba(186, 77, 230, 0.788)),
      url("../img/home.jpeg");
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      overflow: hidden;
}


/* Estilos para dispositivos pequeños */
@media only screen and (max-width: 600px) {
  body {
      font-size: 14px;
  }
  h1 {
      font-size: 24px;
  }
  /* Otros estilos específicos para dispositivos pequeños */
}
/* Estilos para dispositivos medianos */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
      font-size: 16px;
  }
  h1 {
      font-size: 32px;
  }
  /* Otros estilos específicos para dispositivos medianos */
}
/* Estilos para dispositivos grandes */
@media only screen and (min-width: 1025px) {
  body {
      font-size: 18px;
  }
  h1 {
      font-size: 48px;
  }
  /* Otros estilos específicos para dispositivos grandes */
}

.logo{
  width: 80px;

}
h1 .logo{
  text-align: center;
}






.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.login-form {
  background-color: #ffffff4e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

.login-form h2 {
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ed5a66;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 600px) {
  .login-form {
    width: 90%;
  }
}

h2 img{
  width: 50px;
}
.login-form label {
  font-size: 15px;
  color: rgb(192, 213, 213);

}